// ### Primary

$Very__Dark__Magenta: hsl(300, 43%, 22%);
$Soft__Pink: hsl(333, 80%, 67%);
// ### Neutral

$Dark__Grayish__Magenta: hsl(303, 10%, 53%);
$Light__Grayish__Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);